/* Start Of Parallax */
.parallax {
	min-height: 100vh;

	/* .parallax__body */
	&__body {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	/* .parallax__back */
	&__back {
		position: absolute;
		width: 120%;
		height: 120%;
		top: -10%;
		left: -10%;
		z-index: 1;
		will-change: transform;
	}

	/* .parallax__item */
	&__item {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}

	/* .parallax__bg */
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	/* .parallax__container */
	&__container {
		position: relative;
		z-index: 2;
		will-change: transform;
	}

	/* .parallax__label */
	&__label {}

	/* .parallax__title */
	&__title {}

}

/* End Of Parallax */