body {
	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	width: 100%;
	// min-height: 100%;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: $c-text;
	background-color: $c-bg;
	--lightness: 45%;
	&._loaded {
	}
}

.container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: #{$md1+px}) {
		max-width: 970px;
	}
	@media (max-width: #{$md2+px}) {
		max-width: 750px;
	}
	@media (max-width: #{$md3+px}) {
		max-width: none;
		padding: 0 10px;
	}
}


.page {
	flex: 1 1 auto;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	gap: em(16);
	text-align: center;
	// background-image: url('@img/default-placeholder.png');
	
	// [data-picture-class$="__image-wrapper"],
	&__image-wrapper {
    width: rem(360);
  }
}
