.header {
  // .header__inner
  &__inner {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: em(16);

    img {
      width: 360px;
    }
  }
}
